<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ludus"
         >
        <activity
            android:name=".activities.CombatActivity"
            android:exported="true"
            android:label="@string/title_activity_combat"
            android:theme="@style/Theme.Ludus" />
        <activity
            android:name=".activities.LudusManagementActivity"
            android:exported="true"
            android:label="StartActivity"
            android:theme="@style/Theme.Ludus" />
        <activity
            android:name=".activities.StartActivity"
            android:exported="true"
            android:label="LudusManagementActivity"
            android:theme="@style/Theme.Ludus" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>